<span class="text-center"><%= paginate @channels, theme: 'bootstrap-5' %></span>
<div class="row">
  <div class="col-md-12">
    <%= render @channels %>
  </div>
</div>
<span class="text-center"><%= paginate @channels, theme: 'bootstrap-5' %></span>