<% content_for(:title, t(".title")) %>
<h1 class="text-center"><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <span class="text-center"><%= paginate @channels, theme: 'bootstrap-5' %></span>
    <%= render @channels %>
    <span class="text-center"><%= paginate @channels, theme: 'bootstrap-5' %></span>
  </div>
</div>