<h1 class="text-center">【ユーザーチューブ】</h1>

<div class="main row">
  <div class="col-md-8 col-md-offset-2">
    <p>あなたは普段YouTubeを見る中で次のようなことを思ったことはありませんか？</p>
    <ul>
      <li>YouTubeのおすすめ動画は視聴履歴などに基づくので傾向が視聴の傾向が偏ってしまう。</li>
      <li>同世代に人気の動画やチャンネルがわからない。</li>
      <li>友人や同世代の人どんなチャンネルを見ているのか知りたい！</li>
      <li>自分の好きなチャンネルや動画を人におすすめしたい！</li>
    </ul>
  </div>
</div>

<h2 class="text-center">このWebサイトでは、以下のようなサービスを提供します！！</h3>

<div class="main row">
  <div class="col-md-8 col-md-offset-2">
    <ul>
      <li>YouTubeが好きな人たちユーザー登録を行い、登録チャンネルや高評価した動画を他のユーザーと共有することができます。</li>
      <li>フォローしたユーザーのおすすめ動画をチェックしたり、ジャンル(ゲーム実況、お金系、美容系など)ごとに、どんな動画が人気なのかチェックすることができます。</li>
      <li>友人や年齢の近い人がどんな動画を見ているのかなどを知ることができます。</li>
    </ul>
  </div>
</div>

<%= link_to "#", class: "text-center" do %>
  <h2>実際に使ってみる！</h2>
<% end %>