<div class="row user-content">
  <div class="col-md-5 text-center">
    <iframe width="336" height="189" src=<%= content.decorate.youtube_url(content.video_url) %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    <%= image_tag(content.user.avatar_url, class: "img-circle", size: '50x50') %>
    <span class="user-name"><%= content.user.name %></span>
    <p>動画タイトル:節約のメリット10選</p>
    <p>チャンネル名：倹者の流儀</p>
    <p>評価：☆☆☆☆</p>
    <p>感想：<%= content.feedback %></p>
  </div>
</div>