<div id="channel-users">
  <span class="text-center"><%= paginate @channel_users, theme: 'bootstrap-5' %></span>
  <%= render @channel_users %>
  <span class="text-center"><%= paginate @channel_users, theme: 'bootstrap-5' %></span>
</div>