<span class="text-center"><%= paginate @followings, theme: 'bootstrap-5' %></span>
<%= render partial: 'user', collection: @followings %>
<span class="text-center"><%= paginate @followings, theme: 'bootstrap-5' %></span>