<div class="user-card">
  <div class="user-info">
    <%= link_to '#' do %>
      <%= image_tag(user.avatar_url, class: "img-circle", size: '50x50') %>
      <span class="user-name"><%= user.name %></span>
    <% end %>
  </div>
  <div class="follow-btn">
    <%= render 'follow_btn', user: user %>
  </div>
  <div class="profile">
    <p>ユーザーのプロフィール文章がここに入ります。これはサンプルの文章です。</p>
  </div>
  <div class="favorite-channel">
    <p>好きなチャンネルBest3</p>
    <ol>
      <li>今日は甘口で</li>
      <li>ウルトラロマンティック</li>
      <li>花火の音は聞こえない</li>
    </ol>
  </div>
</div>