<div class="user-card">
  <div class="user-name"><%= user.name %></div>
  <div class="profile">
      <p>ユーザーのプロフィール文章がここに入ります。これはサンプルの文章です。</p>
  </div>
  <div class="favorite-channel">
    <p>好きなチャンネルBest3</p>
    <ol>
      <li>今日は甘口で</li>
      <li>ウルトラロマンティック</li>
      <li>花火の音は聞こえない</li>
    </ol>
  </div>
</div>