<div class="user-card">
  <%= link_to '#' do %>
    <%= image_tag(user.avatar_url, class: "img-circle", size: '50x50') %>
    <span class="user-name"><%= user.name %></span>
  <% end %>
  <div class="profile">
      <p>ユーザーのプロフィール文章がここに入ります。これはサンプルの文章です。</p>
  </div>
  <div class="favorite-channel">
    <p>好きなチャンネルBest3</p>
    <ol>
      <li>今日は甘口で</li>
      <li>ウルトラロマンティック</li>
      <li>花火の音は聞こえない</li>
    </ol>
  </div>
</div>