<div id="video-users">
  <span class="text-center"><%= paginate @video_users, theme: 'bootstrap-5' %></span>
  <%= render @video_users %>
  <span class="text-center"><%= paginate @video_users, theme: 'bootstrap-5' %></span>
</div>