<% content_for(:title, "#{@user.name}の登録のチャンネル") %>

<div class="row">
  <%= render 'user_profile' %>
  <div class="col-md-10 col-md-offset-1 mt-30">
    <%= button_to "Googleログイン(登録チャンネル/高評価動画を同期)", "/auth/google_oauth2", method: :post, data: { turbo: false }, class: "btn btn-primary btn-block google-btn" if current_user?(@user) %>
    <%= render 'user_link' %>

    <%= render 'channels/user_channels' %>
  </div>
</div>