<% content_for(:title, "#{@user.name}のコンテンツ") %>

<div class="row">
  <%= render 'user_profile' %>
  <div class="col-md-10 col-md-offset-1 mt-30">
    <%= render 'user_link' %>

    <%= render @contents %>
  </div>
</div>
