<% content_for(:title, @user.name) %>
<% breadcrumb :follower, @user %>

<div class="row">
  <%= render 'user_profile' %>
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs nav-justified follow-users-link">
      <li role="presentation" class=""><%= link_to "フォロー中(#{@user.following.size})", following_user_path(@user) %></li>
      <li role="presentation" class="active"><%= link_to "フォロワー(#{@user.followers.size})", follower_user_path(@user) %></li>
    </ul>
    <%= render 'user_followers' %>
  </div>
</div>
