<div id="channel-videos">
  <span class="text-center"><%= paginate @channel_videos, theme: 'bootstrap-5' %></span>
  <%= render @channel_videos %>
  <span class="text-center"><%= paginate @channel_videos, theme: 'bootstrap-5' %></span>
</div>