<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="pull-left">
          <%= link_to "ユーザーチューブ", root_path, class: "navbar-brand" %>
        </div>
        <div class="pull-right">
          <button type="button" id="hamburger" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>  
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ユーザー登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>