<% flash.each do |message_type, message| %>
  <% unless %w[user_name setting_public].any?(message_type) %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
<% end %>