<header>
  <nav class="navbar navbar-static-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "ユーザーチューブ", '#', class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><%= link_to "ユーザー登録", signup_path %></li>
          <li><%= link_to "ログイン", '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>