<%= link_to best_channels_favorite_path(best_channel), data: { "turbo-method": :delete }, class: "btn" do %>
  <i class="fa fa-heart active" aria-hidden="true"></i>
  <span class="favorite-count"><%= best_channel.decorate.likes_count %></span>
<% end %>