<% if @user_playlists.size > 0 %>
  <span class="text-center"><%= paginate @user_playlists, theme: 'bootstrap-5' %></span>
  <%= render @user_playlists %>
  <span class="text-center"><%= paginate @user_playlists, theme: 'bootstrap-5' %></span>
<% else %>
  <p class="not-found">公開中のプレイリストはありません</p>
<% end %>