<div id="channel-comments">
  <span class="text-center"><%= paginate @channel_comments, theme: 'bootstrap-5' %></span>
  <%= render @channel_comments %>
  <span class="text-center"><%= paginate @channel_comments, theme: 'bootstrap-5' %></span>
</div>