@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.mt-30 {
  margin-top: 30px;
}

a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

header {
  a {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 20px;
  }
}

.sidebar {
  a {
    font-size: 20px;
  }
}

.main {
  margin: 50px 0;
  font-size: 22px;
}

footer {
  margin-top: 20px;
  p {
    font-size: 20px;
  }
  a {
    font-size: 16px;
  }
  .col-md-3 {
    height: 261px;
    padding-top: 5px;
  }
  .footer-item {
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    p {
      font-size: 16px;
    }
    .footer-title {
      font-size: 26px;
    }
  }
  .copyright {
    margin-top: auto;
    p {
      font-size: 14px;
    }
  }
}

.avatar {
  margin: 10px 0;
}

.user-info {
  display: inline-block;
  width: 82%;
}

.follow-btn {
  display: inline-block;
  width: 15%;
  text-align: right;
}

/* ページネーション */
.pagination>li>a {          
  border: none;
  color: #696969;
  font-size: 16px;
}

.pagination>.active>a {     
  background: #93c9ff;
}

/* ユーザー一覧 */
.user-card {
  padding: 10px;
  margin-bottom: 10px;
}

.user-name, .channel-name {
  font-size: 18px;
  color: #000;
}

.profile {
  margin-top: 10px;
}

.favorite-channel {
  ol {
    padding-left: 20px;
  }
}

/* コンテンツ */
.user-content {
  margin: 20px;
}
.post-contents {
  p {
    font-size: 20px;
  }
}
.content-show {
  margin: 30px;
}

/* ユーザー詳細 */
.user-profile {
  border: 1px solid;
  padding: 20px;
  .user-status {
    padding-left: 50px;
    height: 250px;
  }
}

.best-videos, .best-channels {
  padding: 10px 0;
  font-size: 22px;
}

.google-btn {
  margin-bottom: 30px;
}

.video-title {
  margin: 0;
}

.video-user {
  font-size: 16px;
  margin-top: 10px;
}

/* チャンネル一覧 */
.channel-item {
  height: 250px;
  margin: 30px 0;
}

/* チャンネル詳細 */
.channel-detail {
  height: 380px;
  p {
    padding-top: 5px;
    font-size: 20px;
  }
}
.channel-description {
  h2 {
    padding: 5px;
  }
  p {
    border: .5px solid;
    font-size: 18px;
    padding: 5px;
  }
}
.channel-link {
  margin-top: 50px;
  a {
    font-size: 18px;
  }
}

/* 動画詳細 */
.video-detail {
  height: 200px;
  margin-top: 30px;
  p {
    padding-top: 5px;
    font-size: 20px;
  }
}
.video-description {
  margin-top: 30px;
  h2 {
    padding: 5px;
  }
  p {
    border: .5px solid;
    font-size: 18px;
    padding: 5px;
  }
}
.video-link {
  margin-top: 50px;
  a {
    font-size: 18px;
  }
}

/* 新着コンテンツ */
.recent-contents-link {
  margin-top: 50px;
  a {
    font-size: 18px;
  }
}

/* お気に入りボタン */

.btn-clear {
  background-color: rgba(0, 0, 0, 0);
}

.favorite-form {
  display: inline-block;
}

.favorite-count {
  font-size: 22px;
}

/* fontawesome */
.fa-heart {
  font-size: 22px;
  color: rgba(255, 0, 0, 0.5);
  &:hover {
    color: rgba(255, 0, 0, 1);
  }
}
.fa-heart.active {
  font-size: 22px;
  color: rgba(255, 0, 0, 1);
  &:hover {
    color: rgba(255, 0, 0, 0.5);
  }
}

/* JavaScript */

.dropdown-menu.active {
  display: block;
}